#disable_html_escaping()
<tr bgcolor=ffffff>
    <td colspan="2">
        <table>
            <tr>
                <td bgcolor="ffffff" nowrap>
                    #selectMapSelected ("numbercf" ${numbercfs} ${numbercf})
                </td>
                <td bgcolor="ffffff" nowrap>
                    #selectMapSelected ("comparator" ${comparators} ${comparator})
                </td>
                <td bgcolor="ffffff" nowrap>
                    <input type="text" name="value" value="$textutils.htmlEncode($!value)" class="standardInputField" />
                </td>
            </tr>
        </table>
    </td>
</tr>