#disable_html_escaping()
<tr bgcolor=ffffff>
    <td colspan="2">
        <table>
            <tr>
                <td bgcolor="ffffff" nowrap>
                    #selectMap ("numbercf" ${numbercfs})
                </td>
                <td bgcolor="ffffff" nowrap>
                    #selectMap ("comparator" ${comparators})
                </td>
                <td bgcolor="ffffff" nowrap>
                    <input type="text" name="value" class="standardInputField" />
                </td>
            </tr>
        </table>
    </td>
</tr>